<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPTIONS CONTAINER</title>
    <link rel="stylesheet" href="checkbox.css">
</head>
<body>
        <fieldset class="password-sets">
            <legend class="option-header">SET OF PASSWORD</legend>
            <div class="checkbox-container">
                <input class="checkbox-style" type="checkbox" id="numeric" name="uppercase" value="numeric">
                <label class="label-gap" for="uppercase">NUMERIC</label>

                <input class="checkbox-style" type="checkbox" id="symbols" name="uppercase" value="symbols">
                <label  class="label-gap" for="uppercase">SYMBOLS</label>

                <input class="checkbox-style" type="checkbox" id="lowercase" name="uppercase" value="lowercase">
                <label class="label-gap" for="uppercase">LOWERCASE</label>

                <input class="checkbox-style" type="checkbox" id="uppercase" name="uppercase" value="uppercase">
                <label class="label-gap" for="uppercase">UPPERCASE</label>
            </div>
            
        </fieldset>  
  
</body>
</html>