<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Passwords</title>
    <link rel="stylesheet" href="passwords.css">
</head>
<body>
    <div class="footer-password">
        <div class="password-output-container">
            <button class="password-output">1</button>
            <button class="password-output">2</button>
            <button class="password-output">3</button>
            <button class="password-output">1</button>
            <button class="password-output">2</button>
            <button class="password-output">3</button>
        </div>
      <!--   <div class="password-output-container">
           
        </div> -->
    </div>
</body>
</html>