<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPTIONS CONTAINER</title>
    <link rel="stylesheet" href="options.css">
</head>
<body>
    <div class="container">
        <fieldset class="password-sets">
            <legend class="option-header">SET OF PASSWORD</legend>
            <input class="input-details" type="number" min="1" max="6" value="3">
        </fieldset>  
    </div>
</body>
</html>